// Theme Styles
////////////////////////////////////////

// Font Families
////////////////////////////////////////
$ff-sans: 'Fira Sans', sans-serif;
$ff-mono: 'Fira Mono', sans-serif;
$ff-base: $ff-sans;

// Font sizes
////////////////////////////////////////
$fs-head1: 40px;
$fs-head2: 32px;
$fs-head3: 24px;
$fs-body1: 18px;
$fs-body2: 16px;
$fs-body3: 14px;

// Line Heights
////////////////////////////////////////
$lh-big: 1.75;
$lh-base: 1.5;
$lh-small: 1;

// Colors
////////////////////////////////////////
$c-white: #fff;
$c-black: #1d1d1f;
$c-gray0: #333336;
$c-gray1: #515154;
$c-gray2: #6e6e73;
$c-gray3: #86868b;
$c-gray4: #ababaf;
$c-gray6: #c6c6cd;
$c-gray7: #000000;
$c-gray8: #dcdce0;
$c-gray9: #ececee;
$c-gray10: #f5f5f7;
$c-gray11: #fafafb;
$c-accent: #0070c9;

$c-base: $c-black;

// Interface Colors
$c-surface: $c-white;
$c-background: $c-gray10;
$c-border: $c-gray8;

// Spaces
////////////////////////////////////////
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;

// Break Points
////////////////////////////////////////
$br-xs: 480px;
$br-sm: 670px;
$br-md: 960px;
$br-lg: 1200px;
$br-xl: 1600px;

$screen-xs: $br-xs;
$screen-xs-min: $screen-xs;
$screen-sm: $br-sm;
$screen-sm-min: $screen-sm;
$screen-md: $br-md;
$screen-md-min: $screen-md;
$screen-lg: $br-lg;
$screen-lg-min: $screen-lg;
$screen-xl: $br-xl;
$screen-xl-min: $screen-xl;

$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
$screen-lg-max: ($screen-xl-min - 1);

$m-min-sm: 'screen and (min-width: #{$screen-sm-min})';
$m-min-md: 'screen and (min-width: #{$screen-md-min})';
$m-min-lg: 'screen and (min-width: #{$screen-lg-min})';
$m-min-xl: 'screen and (min-width: #{$screen-xl-min})';
